
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="../static/dist/css/navbar-static-top.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">VideoSceneSearch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      {% block content %}
      {% endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!--     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <!--     <script src="../../dist/js/bootstrap.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
      $(".nav a").on("click", function(){
         $(".nav").find(".active").removeClass("active");
         $(this).parent().addClass("active");
      });

    function clickedSubmit()
    {
      document.getElementById("myMessage").innerHTML = "Please wait..."
      document.getElementById("disappearOnClick").style.display = "none";
      $("body").scrollTop(0);
    }

    // $(function() {
    //   $('a#calculate').bind('click', function() {
    //     $.getJSON('/_add_numbers', {
    //       a: $('input[name="a"]').val(),
    //       b: $('input[name="b"]').val()
    //     }, function(data) {
    //       $("#result").text(data.result);
    //     });
    //     $("#wait").text("wait!!!");
    //     return false;
    //   });
    // });

    $(function() {
      $('a#getallframes').bind('click', function() {
        var me=$(this)
        videoname=me.attr('videoname')
        targetimagehash=me.attr('targetimagehash')
        imagename=me.attr('imagename')
        chartcount=me.attr('chartcount')
        $.getJSON('/_getallframes', {
          videoname: videoname,
          targetimagehash: targetimagehash,
          imagename: imagename
        }, function(output) {
          var chart = c3.generate({
              bindto: '#chart__'+chartcount.toString(),
              size: {
                  height: 360,
                  width: 853
              },
              data: {
                x: 'x',
                //xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
                columns: [
                  ['x'].concat(output.times),
                  ['HammingDist_of_hashes'].concat(output.distances),
                  ['One_minus_cosineSim_of_histograms'].concat(output.cosinedistances)
                ],
                axes: {
                  HammingDist_of_hashes: 'y',
                  One_minus_cosineSim_of_histograms: 'y2'
                }
              },
              axis: {
                x: {
                  //type: 'timeseries',
                  tick: {
                  //    format: '%S'
                    // values: [output.times]
                    fit:true,
                    rotate:60
                  }
                },
                y: {
                  show: true
                },
                y2: {
                  show: true
                }
              }
          });

        });
        return false;
      });
    });


    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
